/*Universal Selectors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Tag Selectors*/
body {
    background-color: white;
    color: cadetblue;
    
}
button {
    width: 300px;
    margin-left: 90px;
    margin-top: 30px;
   
}
/*Class Selectors*/
.container {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
   margin-top: 100px;
    border: solid;
    width: 500px;
    height: 500px;
    margin-left: 320px;
}
.content {
    display: grid;
}
.image {
    margin-bottom: 30px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    background: cadetblue;
    color: cadetblue;
    margin-top: 20px;
    margin-right: 50px;
}
.bordered {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: dashed;
    width: 400px;
    height: 300px;
}


  


